workflows/leadflow_workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "formTitle": "LeadFlow - Contact Us",
        "formDescription": "Fill in your details and we will get back to you soon!",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Name"
            },
            {
              "fieldLabel": "Email",
              "fieldType": "email"
            },
            {
              "fieldLabel": "Phone"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        0,
        0
      ],
      "id": "445c3ad1-47ce-412c-b538-b38ac1b691c4",
      "name": "On form submission",
      "webhookId": "147db8c3-6b7a-4acd-99f4-7198c792b90d"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "bf97ba00-c5e3-42d2-bacb-aef43e74cbf9",
              "leftValue": "={{ $json.Email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        208,
        0
      ],
      "id": "b44c7673-6fdb-4ef0-9189-1c0313eadfc6",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "11uzGIEjFC9DTjtCwEwS4BrJCEA0c36ntorY2U7Lyasc",
          "mode": "list",
          "cachedResultName": "LeadFlow Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11uzGIEjFC9DTjtCwEwS4BrJCEA0c36ntorY2U7Lyasc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11uzGIEjFC9DTjtCwEwS4BrJCEA0c36ntorY2U7Lyasc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $json.Name }}",
            "Email": "={{ $json.Email }}",
            "Phone": "={{ $json.Phone }}",
            "Date": "={{ new Date().toISOString() }}",
            "Status": "New"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        416,
        -96
      ],
      "id": "fc0d534b-ecb7-4c1e-a919-90f50ba682b0",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gLfAdyi7TfrhU8TR",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "prokhandelwal21@gmail.com",
        "subject": "=New Lead: {{ $json.Name }}",
        "message": "=You have a new lead!  Name: {{ $json.Name }} Email: {{ $json.Email }} Phone: {{ $json.Phone }} Date: {{ $json.Date }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        624,
        -96
      ],
      "id": "57911dbe-cb18-4326-8973-ceb7114eb109",
      "name": "Send a message",
      "webhookId": "15160a8d-5f99-487f-b2a9-594240f9b6f9",
      "credentials": {
        "gmailOAuth2": {
          "id": "lphauAqSsidAIqod",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "c819b1e5-2876-46a1-aa00-03b4fef3bdda",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "59cdf7417c4929389f1bbaf43b65c7fc6ef35806a6479a77fc89fbe108a86ab0"
  },
  "id": "B5FKb5GIn4TFgRaJ",
  "tags": []
}